nav.clearfix(data-scroll-header)
  block nav
    h1: a(href="#top" data-scroll) Frank Wang
    i.fa.fa-bars
    ul.nav.clearfix
      li.nav__item: a(data-scroll href="/#about") About
      li.nav__item: a(data-scroll href="/#portfolio") Portfolio
      li.nav__item: a(data-scroll href="/#contact") Contact