.slider
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
  width 80%
  height 85vh

.slider__strip
  position absolute
  left 0
  top 0
  height 90%
  width 100%
  transition transform 0.5s cubic-bezier(.83,.08,.26,.89)

.slider__project
  display block
  float left
  position relative
  height 100%
  width 100%

  img
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)

.slider__project__thumbnail
  position absolute
  top 0
  left 0
  height 65%
  width 100%
  overflow hidden
  img
    transition transform 0.2s ease-in-out
  img:hover
    transform translateX(-50%) translateY(-50%) scale(1.2)

.slider__project__info
  position absolute
  bottom 0
  left 50%
  height 30%
  max-width 600px
  width 90%
  transform translateX(-50%)
  color #444
  text-align center

.slider__project__tech
  font-style italic

.slider__project__title
  font-size 4rem

.slider__control
  position absolute
  top 40%
  transform translateY(-50%)
  font-size 10rem
  animation pulse 8s infinite running
  visibility hidden
  &.active
    visibility visible
  &.active:hover
    color #6D78DA
    cursor pointer
    animation-play-state paused

.slider__control--left
  right 100%

.slider__control--right
  left 100%

@keyframes pulse
  0%
    transform translateX(0%)
  2%
    transform translateX(10%)
  4%
    transform translateX(-10%)
  6%
    transform translateX(10%)
  8%
    transform translateX(-10%)
  10%
    transform translateX(0%)
  100%
    transform translateX(0%)